{% load static %}
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
        -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <img src="{% static 'assets/img/afklm.png' %}" class="rounded-circle shadow-2 img-thumbnail"
                 alt="">
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    AFKLM Metrics
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'index' in segment %} active {% endif %} ">
                    <a href="/">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="{% if 'reports' in segment %} active {% endif %} ">
                    <a href="{% url 'reports' %}">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>Reports</p>
                    </a>
                </li>
                <li class="{% if 'sites' in segment %} active {% endif %}">
                    <a href="{% url 'sites' %}">
                        <i class="tim-icons icon-atom"></i>
                        <p>Sites</p>
                    </a>
                </li>
                <li class="{% if 'applications' in segment %} active {% endif %}">
                    <a href="{% url 'applications' %}">
                        <i class="tim-icons icon-app"></i>
                        <p>Applications</p>
                    </a>
                </li>
                <li class="{% if 'interfaces' in segment %} active {% endif %}">
                    <a href="{% url 'interfaces' %}">
                        <i class="tim-icons icon-bullet-list-67"></i>
                        <p>Interfaces</p>
                    </a>
                </li>
                <li class="{% if 'inburst' in segment %} active {% endif %}">
                    <a href="{% url 'inburst' %}">
                        <i class="tim-icons icon-bullet-list-67"></i>
                        <p>Ingress Burst</p>
                    </a>
                </li>
                <li class="{% if 'outburst' in segment %} active {% endif %}">
                    <a href="{% url 'outburst' %}">
                        <i class="tim-icons icon-bullet-list-67"></i>
                        <p>Outgress Burst</p>
                    </a>
                </li>
                <li class="{% if 'user' in segment %} active {% endif %}">
                    <a href="/user.html">
                        <i class="tim-icons icon-single-02"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'login' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
